.emphasize {
    animation-name: emphasize;
    animation-duration: 0.75s;
    -webkit-animation-name: emphasize;
    -webkit-animation-duration: 0.75s;
}

@-webkit-keyframes emphasize{
    0%, 100%{
        transform: scale3d(1, 1, 1);
    }
    10%, 20%{
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
}

@keyframes emphasize{
    0%, 100%{
        transform: scale3d(1, 1, 1);
    }
    10%, 20%{
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
}
