.flash {
    animation-name: flash;
    animation-duration: 0.75s;
    -webkit-animation-name: flash;
    -webkit-animation-duration: 0.75s;
}

@-webkit-keyframes flash{
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75%{
        opacity: 0;
    }
}

@keyframes flash{
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75%{
        opacity: 0;
    }
}
