.pulse {
    animation-name: pulse;
    animation-duration: 0.75s;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 0.75s;
}

@-webkit-keyframes pulse{
    0%, 100% {
        -webkit-transform: scale3d(1, 1, 1);
    }
    50%{
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
    }
}

@keyframes pulse{
    0%, 100% {
        transform: scale3d(1, 1, 1);
    }
    50%{
        transform: scale3d(1.05, 1.05, 1.05);
    }
}
