.lightSpeedOutDown{
	animation-name: lightSpeedOutDown;
	animation-duration: 0.75s;
	animation-timing-function: ease-in;
	-webkit-animation-name: lightSpeedOutDown;
	-webkit-animation-duration: 0.75s;
	-webkit-animation-timing-function: ease-in;
}

@-webkit-keyframes lightSpeedOutDown{
	0%{
		opacity: 1;	
	}
	100%{
		opacity: 0;
		-webkit-transform: translateY(300px) skewY(-10deg);
	}
}

@keyframes lightSpeedOutDown{
	0%{
		opacity: 1;	
	}
	100%{
		opacity: 0;
		transform: translateY(300px) skewY(-10deg);
	}
}