.foldOutRight {
    animation-name: foldOutRight;
    animation-duration: 0.75s;
    -webkit-animation-name: foldOutRight;
    -webkit-animation-duration: 0.75s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes foldOutRight{
    0%{
        -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }
    45%,60%{
        opacity: 1;
        -webkit-transform: scale3d(0.675, 0.675, 0.675) translate3d(0, 0, 0);
    }
    100%{
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    }   
}

@keyframes foldOutRight{
    0%{
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }
    45%,60%{
        opacity: 1;
        transform: scale3d(0.675, 0.675, 0.675) translate3d(0, 0, 0);
    }
    100%{
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    }
}
