.bounceOut{
	animation-name: bounceOut;
	animation-duration: 0.75s;
	-webkit-animation-name: bounceOut;
	-webkit-animation-duration: 0.75s;
}

@-webkit-keyframes bounceOut{
	20%{
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
	}
	30%{
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
	}
	50%{
		-webkit-transform: scale3d(0.75, 0.75, 0.75);
	}
	70%{
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
	}
	100%{
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
	}
}

@keyframes bounceOut{
	20%{
		transform: scale3d(0.9, 0.9, 0.9);
	}
	30%{
		transform: scale3d(1.1, 1.1, 1.1);
	}
	50%{
		transform: scale3d(0.75, 0.75, 0.75);
	}
	70%{
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
	100%{
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}
}
