.bounceInLeft{
	animation-name: bounceInLeft;
	animation-duration: 0.75s;
	-webkit-animation-name: bounceInLeft;
	-webkit-animation-duration: 0.75s;
}

@-webkit-keyframes bounceInLeft{
	0%{
		opacity: 0;
		-webkit-transform: translateX(-300px);
	}
	60%{
		opacity: 1;
		-webkit-transform: translateX(20px);
	}
	75%{
		-webkit-transform: translateX(-10px);
	}
	90%{
		-webkit-transform: translateX(5px);
	}
	100%{
		-webkit-transform: translateX(0px);
	}
}

@keyframes bounceInLeft{
	0%{
		opacity: 0;
		transform: translateX(-300px);
	}
	60%{
		opacity: 1;
		transform: translateX(20px);
	}
	75%{
		transform: translateX(-10px);
	}
	90%{
		transform: translateX(5px);
	}
	100%{
		transform: translateX(0px);
	}
}