.bounceIn{
	animation-name: bounceIn;
	animation-duration: 0.75s;
	-webkit-animation-name: bounceIn;
	-webkit-animation-duration: 0.75s;
}

@-webkit-keyframes bounceIn{
	0%{
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
	}
	40%{
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
	}
	50%{
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
	}
	70%{
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
	}
	90%{
		-webkit-transform: scale3d(0.97, 0.97, 0.97);
	}
	100%{
		-webkit-transform: scale3d(1, 1, 1);
	}
}

@keyframes bounceIn{
	0%{
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}
	40%{
		transform: scale3d(1.1, 1.1, 1.1);
	}
	50%{
		transform: scale3d(0.9, 0.9, 0.9);
	}
	70%{
		opacity: 1;
		transform: scale3d(1.03, 1.03, 1.03);
	}
	90%{
		transform: scale3d(0.97, 0.97, 0.97);
	}
	100%{
		transform: scale3d(1, 1, 1);
	}
}
