.rotateOutDownRight{
	animation-name: rotateOutDownRight;
	animation-duration: 0.75s;
	-webkit-animation-name: rotateOutDownRight;
	-webkit-animation-duration: 0.75s;
}

@-webkit-keyframes rotateOutDownRight{
	0%{
		opacity: 1;
		-webkit-transform-origin: right top;
		-webkit-transform: none;
	}
	100%{
		opacity: 0;
		-webkit-transform-origin: right top;
		-webkit-transform: rotate(-45deg);
	}
}

@keyframes rotateOutDownRight{
	0%{
		opacity: 1;
		transform-origin: right top;
		transform: none;
	}
	100%{
		opacity: 0;
		transform-origin: right top;
		transform: rotate(-45deg);
	}
}