.curveInRight {
    animation-name: curveInRight;
    animation-duration: 0.75s;
    -webkit-animation-name: curveInRight;
    -webkit-animation-duration: 0.75s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes curveInRight{
    0%{
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    }
    60%{
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-100px, 0, 0);
    }
    100%{
        -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }
}

@keyframes curveInRight{
    0%{
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    }
    60%{
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(-100px, 0, 0);
    }
    100%{
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }
}
