.skew30deg{
	animation-name: skew30deg;
	animation-duration: 0.75s;
	-webkit-animation-name: skew30deg;
	-webkit-animation-duration: 0.75s;
}

@-webkit-keyframes skew30deg{
	0%{
		-webkit-transform: skew(0deg);
	}
	100%{
		-webkit-transform: skew(30deg,30deg);
	}
}

@keyframes skew30deg{
	0%{
		transform: skew(0deg);
	}
	100%{
		transform: skew(30deg,30deg);
	}
}