.translateTop{
	animation-name: translateTop;
	animation-duration: 0.75s;
	-webkit-animation-name: translateTop;
	-webkit-animation-duration: 0.75s;
}

@-webkit-keyframes translateTop{
	0%{
		-webkit-transform: translateY(0);
	}
	100%{
		-webkit-transform: translateY(-100px);
	}
}

@keyframes translateTop{
	0%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(-100px);
	}
}